/* Standard CSS definitions for the React build process */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
}